<div
    class="d-flex col-md-3 align-content-start py-2"
    style="gap: 1rem;"
>
    <div
        class="card bg-dark text-white border-0"
        style="max-width: 250px; height: 250px"
    >
        <img
            src="<%= photo.image_url.present? ? photo.image_url : asset_path('default_photo.jpg') %>"
            class="card-img"
            style="width: 100%; height: 100%; object-fit: cover"
            alt="Photo image"
        />
        <div
            class="card-img-overlay d-flex align-items-center px-2"
            style="background-color: rgba(0, 0, 0, 0.3); height: 20%; width: 100%; justify-content: space-between"
        >
            <p class="text-truncate m-0">
                <%= photo.description %>
            </p>
            <%= link_to edit_photo_path(photo.id) do %>
                <i class="fa-regular fa-pen-to-square p-1" style="font-size: 20px; color: white"></i>
            <% end %>
        </div>
    </div>
</div>