/* Main */
#main {
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 5rem;
  background-color: #a73131;
}

.form-signin {
  max-width: 90%;
  padding: 15px 5px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  border: 3px solid #bdbdbd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  width: 100%;
}
.form-signin .form-control:nth-child(1) {
  border-bottom: none;
}
.form-signin .form-control:focus {
  z-index: 2;
  box-shadow: none;
}
.form-signin input[type="text"] {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.form-signin input[type="password"] {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.new-account {
  display: block;
  margin-top: 10px;
}
