<%= form_with(url: follows_path, data: { remote: true }, class: "custom_btn") do |f| %>
    <div><%= hidden_field_tag :follower_id, user.id %></div>
    <%= f.submit "Follow", class: "custom_btn", id: "follow_btn" %>
<% end %>