<% if @photos.present? %>
    <div class="row list_photos_user">
        <% @photos.each do |photo| %>
            <div class="photo_show_container col-md-3 position-relative">
                <img
                    src="<%= photo.image_url ? photo.image_url : "/assets/images/default_avatar.jpg" %>"
                    class="img-fluid card-img"
                    style="height: 255px"
                    alt=""
                />
                <p class="card_img_des"><%= photo.title %></p>

                <% if photo.is_private? %>    
                    <div
                        class="d-flex align-items-center justify-content-center rounded-circle bg-white p-3"
                        style="
                            width: 0.5rem;
                            height: 0.5rem;
                            position: absolute;
                            top: 6%;
                            left: 80%;
                            z-index: 10;
                        "
                    >
                        <i class="fa fa-lock" style="color: black; font-size: 1.5rem"></i>
                    </div>
                <% end %>
                <% if photo.user.id == current_user.id.to_s %>
                    <%= link_to "EDIT", edit_photo_path(photo.id), class: "edit-button text-decoration-none" %>
                <% end %>
            </div>
        <% end %>
    </div>
<% else %>
    <h6 style="text-align: center">No photo </h6>
<% end %>