<% if @photos.present? %>
    <div class="row list_photos_user">
        <% @photos.each do |photo| %>
            <div class="col-md-3 p-3">
                <img
                    src="<%= photo.image_url ? photo.image_url : "/assets/images/default_avatar.jpg" %>"
                    class="img-fluid card-img"
                    style="height: 255px"
                    alt=""
                />
                <p class="card_img_des"><%= photo.title %></p>
            </div>
        <% end %>
    </div>
<% else %>
    <h2>No photo </h2>
<% end %>