#users_admin_main {
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
  padding: 0.8rem 0;
}
#users_admin_main .container_ {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

/* Pagination */
#users_admin_main .container_ nav {
  margin: 1rem auto;
}
