<div class="card" data-bs-toggle="modal"
      data-bs-target="#put_album_id">
    <div class="row g-0">
        <div class="col-lg-6">
        <div class="photo_container">
            <img
            src="https://media.istockphoto.com/id/1388420740/vi/anh/net-zero-v%C3%A0-carbon-neutral-concepts-net-zero-emissions-goals-m%E1%BB%99t-chi%E1%BA%BFn-l%C6%B0%E1%BB%A3c-d%C3%A0i-h%E1%BA%A1n-trung-l%E1%BA%ADp.jpg?s=1024x1024&w=is&k=20&c=kvm744AqJqKq0hf1csdKSOCkjwyspBcV1h6gcBzBNns="
            class="img-fluid"
            alt="photo"
            />
            <img
            src="https://media.istockphoto.com/id/1388420740/vi/anh/net-zero-v%C3%A0-carbon-neutral-concepts-net-zero-emissions-goals-m%E1%BB%99t-chi%E1%BA%BFn-l%C6%B0%E1%BB%A3c-d%C3%A0i-h%E1%BA%A1n-trung-l%E1%BA%ADp.jpg?s=1024x1024&w=is&k=20&c=kvm744AqJqKq0hf1csdKSOCkjwyspBcV1h6gcBzBNns="
            class="img-fluid"
            alt="photo"
            />
            <img
            src="https://media.istockphoto.com/id/1388420740/vi/anh/net-zero-v%C3%A0-carbon-neutral-concepts-net-zero-emissions-goals-m%E1%BB%99t-chi%E1%BA%BFn-l%C6%B0%E1%BB%A3c-d%C3%A0i-h%E1%BA%A1n-trung-l%E1%BA%ADp.jpg?s=1024x1024&w=is&k=20&c=kvm744AqJqKq0hf1csdKSOCkjwyspBcV1h6gcBzBNns="
            class="img-fluid"
            alt="photo"
            />
        </div>
        </div>
        <div class="col-lg-6">
        <div class="post_user_info">
            <div class="default_avatar">
            <span class="username_short">HN</span>
            </div>
            <span class="user_name">Hieu Nguyen</span>
        </div>

        <div class="card-body" style="padding: 0.8rem">
            <h5 class="card-title">Nam tempor posuere faucibus</h5>
            <p class="card-text">
            Aliquam dictum nec massa ac consequat. Etiam dignissim
            tincidunt tellus sed vestibulum. Sed vitae vestibulum purus.
            Curabitur malesuada libero in nibh pretium, sed malesuada
            nisi feugiat.
            </p>
            <div class="post_createdAt">
            <i class="fa fa-heart" style="color: var(--main_color)"
                >&nbsp;<span>123</span></i
            >
            <small class="text-body-secondary"
                >4:56 pm 01/04/2018</small
            >
            </div>
        </div>
        </div>
    </div>
    </div>