<% provide(:title, "Edit albums") %>
<main id="main_new_album" class="row m-0">
    <!-- Sidebar -->
    <%= render "layouts/sidebar" %>

    <!-- Main content -->
    <div class="container_ col-12 col-md-8 m-md-0 justify-content-none">
        <%= render "shared/update_header", title: "Edit album" %>

        <%= render "form", album: @album %>
    </div>

    <div class="col-md-2"></div>
</main>

<%= javascript_include_tag('albums/edit') %>