<main id="main_new_album" class="row m-0">
    <!-- Sidebar -->
    <%= render "layouts/sidebar" %>

    <!-- Main content -->
    <div class="container_ col-12 col-md-8 m-md-0 justify-content-none">
        <div class="" style="width: 100%">
            <h5 class="float-start fw-bold">New photo</h5>
            <hr style="width: 100%; border: 2px solid #555" />
        </div>

        <%= render "form", album: @album %>
    </div>

    <div class="col-md-2"></div>
</main>

<%= javascript_include_tag('albums/edit') %>