<main id="main" class="row m-0">
    <!-- Sidebar -->
    <div class="sidebar d-none d-md-flex flex-column align-items-center col-2">
        <ul class="d-flex flex-column align-items-start w-auto">
            <li><a href="">Feeds</a></li>
            <li><a href="">My Photos</a></li>
        </ul>
    </div>

    <!-- Main content -->
    <div class="container_ col-12 col-md-8 m-md-0 justify-content-none">
        <div class="" style="width: 100%">
            <h5 class="float-start fw-bold">New album</h5>
            <hr style="width: 100%; border: 2px solid #555" />
        </div>

        <%= render "photos/form", album: @album %>
    </div>

    <div class="col-md-2"></div>
</main>