<%
=begin%>
 <form class="form-signin">
    <div style="width: 80%; margin-bottom: 0.5rem">
        <label for="first_name" style="font-weight: bold">First name</label>
        <input
            type="text"
            class="form-control"
            name="first_name"
            placeholder="First name"
            required
            autofocus
        />
    </div>
    <div style="width: 80%; margin-bottom: 0.5rem">
        <label for="last_name" style="font-weight: bold">Last name</label>
        <input
            type="text"
            class="form-control"
            name="last_name"
            placeholder="Last name"
            required
            autofocus
        />
    </div>
    <div style="width: 80%; margin-bottom: 0.5rem">
        <label for="password" style="font-weight: bold">New password</label>
        <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
            required
        />
    </div>

    <div style="width: 80%; margin-bottom: 0.5rem">
        <label for="confirm_password" style="font-weight: bold">Password Confirmation<label>
        <input
            type="password"
            name="confirm_password"
            class="form-control"
            placeholder="Confirm password"
            required
        />
    </div>

    <button
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        style="
        background-color: var(--main_color);
        padding: 0.7rem 2rem;
        font-weight: 500;
        margin-top: 1rem;
        "
    >
        Sign up
    </button>
</form> 
<%
=end%>

<% form_with(url: "/signup") do |form| %>
    <%
=begin%>
 <% if @user.errors.any? %>

    <% end %> 
<%
=end%>

    <div style="width: 80%; margin-bottom: 0.5rem">
        <%= form.label :first_name, style: "font-weight: bold" %>
        <%= form.text_field :first_name, autofocus: true, class: "form-control" %>
        <label for="first_name" style="font-weight: bold">First name</label>
        <input
            type="text"
            class="form-control"
            name="first_name"
            placeholder="First name"
            required
            autofocus
        />
    </div>
<% end %>