<%= form_with(url: photos_reactions_path, data: { remote: true }, id: "react_form") do |f| %>
    <div><%= hidden_field_tag :photo_id, photo.id %></div>
    <%= button_tag type: 'submit', class: "fa fa-heart p-2 text-secondary", style: "background-color: transparent; border: none", id: "react_btn" do %>
        &nbsp;<span id="number_of_like"><%= photo.number_like %></span>
    <% end %>
<% end %>