<% provide(:title, "Edit photos") %>
<main id="main_new_photo" class="row m-0">
    <!-- Sidebar -->
    <%= render "layouts/sidebar" %>

    <!-- Main content -->
    <div class="container_ col-12 col-md-8 m-md-0 justify-content-none">
        <div class="" style="width: 100%">
            <h5 class="float-start fw-bold">Edit photo</h5>
            <button
                type="button"
                class="btn float-end display-block mb-3"
                style="background-color: var(--main_color); color: white"
            >
                Back
            </button> 
            <hr style="width: 100%; border: 2px solid #555" />
        </div>

        <%= render "form", photo: @photo %>
    </div>

    <div class="col-md-2"></div>
</main>

<%= javascript_include_tag('photos/edit') %>