<main id="main_new_photo" class="row m-0">
    <!-- Sidebar -->
    <%= render "layouts/sidebar" %>

    <!-- Main content -->
    <div class="container_ col-12 col-md-8 m-md-0 justify-content-none">
        <div class="" style="width: 100%">
            <h5 class="float-start fw-bold">New photo</h5>
            <hr style="width: 100%; border: 2px solid #555" />
        </div>

        <%= render "form" %>
    </div>

    <div class="col-md-2"></div>
</main>

<script>
    // Image preview
    const cardImg = document.getElementById('card-img');
    const filesInput = document.getElementById('files_inputs');

    filesInput.addEventListener('change', (e) => {
        const file = e.target.files[0];
        const reader = new FileReader();

        reader.onload = (e) => {
            cardImg.src = e.target.result;
            $("#plus_icon").hide();
            $("img#card-img").css('display', 'block');
        }

        reader.readAsDataURL(file);
    });

    // Validate photos
    const form = $('form.row');
    form.on('submit', (e) => {
        const title = $('#photo_title').val();
        const files = filesInput.files;
        if (files.length === 0) {
            e.preventDefault();
            alert('Please select a file to upload');
        }
        if (title === '') {
            e.preventDefault();
            alert('Please enter a title');
        }
    });
</script>