<% provide(:title, "New photos") %>
<main id="main_new_photo" class="row m-0">
    <!-- Sidebar -->
    <%= render "layouts/sidebar" %>

    <!-- Main content -->
    <div class="container_ col-12 col-md-8 m-md-0 justify-content-none">
        <%# Header %>
        <%= render "shared/update_header", title: "New photo" %>

        <%= render "form" %>
    </div>

    <div class="col-md-2"></div>
</main>

<%= javascript_include_tag('photos/new') %>