#edit_user_main {
  background-color: #f8f8f8;
  width: 100%;
  height: calc(100vh - var(--header-height));
  padding: 0.8rem 0;
}

#edit_user_main .container_ {
  min-height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem 2rem;
}
#edit_user_main .container_ label {
  font-weight: bold;
}

#edit_user_main .container_ input[type="text"],
#edit_user_main .container_ input[type="email"],
#edit_user_main .container_ input[type="password"] {
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid #ccc;
  outline: none;
  width: 50%;
  width: 70%;
}

#edit_user_main .container_ input:focus {
  box-shadow: none;
}

#edit_user_main .container_ .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 1rem;
}

#edit_user_main .container_ .input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#edit_user_main .container_ .input-wrapper label {
  flex: 1;
  text-align: end;
  width: 40%;
}

#edit_user_main .container_ .input-wrapper input {
  width: 62%;
}

#edit_user_main .container_ .input-wrapper .field_with_errors:nth-child(1) {
  width: 36%;
  text-align: end;
}

#edit_user_main .container_ .input-wrapper .field_with_errors:nth-child(1) label {
  width: 100%;
}

#edit_user_main .container_ .input-wrapper .field_with_errors:nth-child(2) {
  width: 64%;
}

#edit_user_main .container_ .input-wrapper .field_with_errors:nth-child(2) input {
  width: 100%;
}