/* Main */
#main_new_album {
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
  padding: 0.8rem 0;
}
#main_new_album .container_ {
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;

  padding: 1rem 2rem;
}

#main_new_album .container_ label {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

#main_new_album .container_ input[type="text"],
#main_new_album .container_ select,
#main_new_album .container_ textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid #ccc;
  outline: none;
}

#main_new_album .container_ input[type="text"] {
  width: 100%;
}

#main_new_album .container_ select {
  width: 40%;
  font-weight: bold;
}

#main_new_album .container_ select option {
  font-weight: bold;
} 
