<%= stylesheet_link_tag "sidebar" %>
<!-- Sidebar -->
<div
    class="sidebar d-none d-md-flex flex-column align-items-center col-2"
>
    <ul class="d-flex flex-column align-items-start w-auto">
        <li><a href="">Feeds</a></li>
        <li><a href="">My Photos</a></li>
    </ul>
</div>